/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);


body {
	font-family: arial, verdana;
}
/*form styles*/
#msform {
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	border: 0 none;
	border-radius: 3px;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden ;
	/*CSS counters to number the steps*/
	counter-reset: step;
	padding-inline-start: 0px !important;
}
#progressbar li {
	list-style-type: none ;
	color: rgb(0, 0, 0);
	text-transform: uppercase ;
	font-size: 9px;
	width: 20%;
	float: left;
	position: relative;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: white;
	background: rgb(102, 102, 102);
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
    /*progressbar connectors*/
	#progressbar li:after {
		content:'' ;
		width: 100% ;
		height: 2px ;
		background: rgb(110, 110, 110) ;
		position: absolute ;
		left: -50% ;
		top: 9px ;
		z-index: -1 ; /*put it behind the numbers*/
		
	}
	#progressbar li:first-child:after {
		/*connector not needed before the first step*/
		content: none ; 
	}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

#anotherbar{
	margin-bottom: 30px;
	overflow: hidden ;
	/*CSS counters to number the steps*/
	counter-reset: step;	
}
#anotherbar li{
	list-style-type: none ;
	color: rgb(0, 0, 0);
	text-transform: uppercase ;
	font-size: 9px;
	width: 25%;
	float: left;
	position: relative;
}

.modal-body{
	height: auto !important;
	min-height: 500px;
}
